@CHARSET "ISO-8859-1";

/* Modal Login */
#modal-login {
	width: 90%;
}

/* Botão do Facebook */
#btn-facebook {
	background: #3b5998;
}

/* Espaçador dos botões */
#espacador-btn {
	height: 10px;
}

/* Botão do Google */
#btn-google {
	background: #db3236;
}