@CHARSET "ISO-8859-1";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Lista de clientes */
#lista-clientes li {
	display: none;
	transition: 0.4s;
}

/* Linhas de lista de clientes */
#lista-clientes li:hover {
	transition: 0.4s;
	color: white;
	background-color: #7e57c2;
}

/* Modal que contém informações do cliente */
#modal-cliente-info {
	width: 88% !important;
	max-width: 100% !important;
}