@CHARSET "ISO-8859-1";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Main Produto */
#main-produto {
	display: none;
}

/* Tab Principal Produto */
#principal-produto {
	display: none;
}

/* Main Fornecedor */
#main-fornecedor {
	display: none;
}

/* Tab Principal Fornecedor */
#principal-fornecedor {
	display: none;
}

/* Lista de produtos */
#lista-produto li {
	display: none;
}

/* Hover na lista de produtos */
#lista-produto li:hover {
	transition: 0.4s;
	color: white;
	background-color: #EE6363;
}

/* Modal para produto */
#modal-produto {
	width: 94% !important;
	height: 90% !important;
	max-width: 100% !important;
	max-height: 90% !important;
}

/* Botão de alteção de foto */
#btn-alterar-foto {
	display: none;
}

/* Modal para editar produto */
#modal-editar-produto {
	width: 74% !important;
	height: 90% !important;
	max-width: 100% !important;
	max-height: 100% !important;
}

/* Modal para edição de categoria de produtos cadastrados */
#modal-editar-categoria-p-selecionado {
	height: 90% !important;
	max-height: 100% !important;
}

/* Modal para edição de fornecedor de produtos cadastrados */
#modal-editar-fornecedor-p-selecionado {
	height: 90% !important;
	max-height: 100% !important;
}

/* Modal editar categoria */
#modal-editar-categoria {
	height: 90% !important;
	max-height: 100% !important;
}

/* Lista de categorias */
#lista-categoria li {
	display: none;
}

/* Hover na lista de categorias */
#lista-categoria li:hover {
	transition: 0.4s;
	color: white;
	background-color: #BEBEBE;
}

/* Modal para edição da categoria selecionada */
#modal-categoria {
	width: 90% !important;
	max-width: 100% !important;
}