@CHARSET "ISO-8859-1";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Swipe's (Dashboard, Gerenciar e Agenda) */
swipe-dashboard {
	height: 1000px;
}

/* Swipe de gerenciamento */
#swipe-gerenciar {
	display: none;
}

/* Swipe de agenda */
#swipe-agenda {
	display: none;
}

/* Imagem para card de agendamento */
.img-agendamento-hoje {
	max-width: 128px !important;
	margin: auto;
}

/* Card image de agendamento */
#card-agendamento-imagem {
	padding: 8% !important;
}