<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>Archetype Created Web Application</display-name>

	<!-- Spring servlet -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Mapeamento da servlet -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Erro 404 / Não Encontrado -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/other/not-found-page.jsp</location>
	</error-page>

	<!-- Erro 403 / Não Permitido -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/other/unauthorized-page.jsp</location>
	</error-page>

	<!-- Erro 401 / Não Autorizado -->
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/other/unauthorized-page.jsp</location>
	</error-page>

	<!-- Tempo de sessão -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>
